<div class="main-w3layouts wrapper">
    <h1>Signup Form</h1>
    <div class="main-agileinfo">
        <div class="agileits-top">
            <form [formGroup]="registerFormGroup" (ngSubmit)="handleRegister()">
                <input class="text" type="text" formControlName="name" placeholder="Full Name" required>
                <input class="text email" type="email" formControlName="email" placeholder="Email" required>
                
                <div formGroupName="passwords">
                    <input class="text" type="password" formControlName="password" placeholder="Password" required>
                    <input class="text w3lpass" type="password" formControlName="rePass" placeholder="Confirm Password" required>
                </div>
                
                <input type="submit" value="SIGNUP">
            </form>
            <p>Already have an Account? <a routerLink="/login"> Login Now!</a></p>
        </div>
    </div>
</div>  