<footer>
    <div class="footer-top ">
       <div class="container">
          <div class="row gy-5">
             <div class="col-md-4">
                <h4>Dog Adoption Center</h4>
                <p>Praesent vulputate neque nec sem fermentum porttitor. Mauris eget dolor convallis, trista, dignissim sapien. Duis vel felis dictu</p>
                <div class="social-icons">
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                </div>
             </div>
             <div class="col-md-2">
                <h5 class="title-sm">Navigation</h5>
                <div class="footer-links">
                   <a routerLink="/services">Services</a>
                   <a routerLink="/portfolio">Our Work</a>
                   <a routerLink="/team">Team</a>
                   <a href="#">Blog</a>
                </div>
             </div>
             <div class="col-md-2">
                <h5 class="title-sm">More</h5>
                <div class="footer-links">
                   <a href="#">FAQ's</a>
                   <a href="#">Privacy & Policy</a>
                   <a href="#">Liscences</a>
                </div>
             </div>
             <div class="col-md-2">
                <h5 class="title-sm">Contact</h5>
                <div class="footer-links">
                   <p class="mb"><i class="fa-solid fa-location-dot"></i>   89 West Street London SE84 2NR</p>
                   <p class="mb-"><i class="fa-solid fa-phone"></i> +442045773239</p>
                   <p class="mb"><i class="fa-solid fa-envelope"></i> office@design-agency.com</p>
                </div>
             </div>
          </div>
       </div>
    </div>
    <div class="footer-bottom">
       <div class="container">
          <div class="row justify-content-between gy-3">
             <div class="col-md-6">
                <p class="mb-0 copyright">Dog Adoption Center 2022&copy;. All rights reserved</p>
             </div>
          </div>
       </div>
    </div>
</footer>